<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h1>Testing Mail</h1>
      <p>Hello {receiver_name}</p>
      <p>Your email id {receiver_email} is inculded in our subscriber list</p>
    </div>

    <div>
      <h2>For unsubscribing</h2>
      <p>Click here {unsubscribe_link}</p>
    </div>
    <div>
      <h3>Our info</h3>
      <p>{sender_name}</p>
      <p>{sender_email}</p>
      <p>{sender_address}</p>
    </div>
  </body>
</html>
